@import url('https://rsms.me/inter/inter.css');

@import '../../biscuit/scss/biscuit/_normalize.scss';

body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  &.ip-banned {
    margin: 1rem;
  }

  &.failwhale {
    display: flex;
    line-height: 1.5;
    background: #0069B4;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;

    main {
      margin: auto;
      max-width: 800px;
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6, {
      font-weight: 600;
    }
  }
}