*

# don't gitignore pre-existing skins

# common (stuff shared between skins)
!/common/**

# error template
!/error/**

# vsc is kinda fucking stupid and treats finalium and bootstrap as git modules
bootstrap
finalium

# finalium 3 (trinium)
!/trinium/**