*

# common (stuff shared between skins)
!common/
!common/**

# error template
!error/
!error/**
!mail/
!mail/**

# vsc is kinda fucking stupid and treats finalium and bootstrap as git modules
bootstrap/
finalium/

# trinium
!trinium/
!trinium/**