.headers {
  position: sticky;

  @if $theme != "soretro" {
    backdrop-filter: blur(4px);
  }

  top: 0;
  z-index: 47101;
}

.header-main-links {
  display: flex;
  gap: 0.85em;
}

// actually known as user links, but back in 2023 the main browse/members links were aligned to the right so
// thats why this is called header-links.
.header-links
{
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.85em;

  .user-menu-container {
    direction: rtl;

    .user-menu-button {
      height: $header-height;
      padding: 5px;
      direction: ltr;
      display: flex;
      gap: 5px;
      align-items: center;

      &:hover, &.selected {
        cursor: pointer;
      }

      @if $theme == "biscuit" {
        &:hover, &.selected {
          background: rgba(white, 0.1);
        }
      }

      .user-menu-pfp {
        width: $header-pfp-width;
      }

      .user-menu-caret-container {
        display: inline-block;
        font-size: 10px;
        @if $theme == "biscuit" {
          color: rgba(0, 0, 0, 0.75);
        } @else {
          color: rgba(255, 255, 255, 0.75);
        }
      }
    }
  }
}

.header-logo
{
  a {
    display: block;
    height: $header-logo-height;

    &:focus {
      outline: none;
    }
  }

  .logo {
    @include responsive('tiny') {
      display: none;
    }
    @include responsive('medium') {
      display: inline;
    }
    height: $header-logo-height;
  }

  .logo-small {
    @include responsive('tiny') {
      display: inline;
    }
    @include responsive('medium') {
      display: none;
    }
    height: $header-logo-height;
  }

  margin-right: 10px;
}

form.header-search
{
  position: relative;
  display: none;

  #header-search-button {
    @if $theme == "soretro" {
      position: absolute;
      right: 0;

      background: none;
      border: none;

      color: #B4B4B4;

      height: 30px;
      width: 34px;

      &:hover {
        cursor: pointer;
      }
    } @else {
      height: 30px;
    }
  }

  #header-search-input {
    @if $theme == "soretro" {
      border: 1px solid black;
      color: #eee;
      background: #575757;
      box-shadow: 0 1px 0 #333;
      padding: 6px 40px 6px 6px;
      height: 30px;

      &:focus {
        background: #eee;
        color: #222;
        box-shadow: 0 1px 0 #000;
      }
    }
  }

  @include responsive('tiny') {
    gap: 2px;
    max-width: 120px;
    margin-left: 10px;
    #header-search-input {
      width: 100px;
    }
  }
  @include responsive('small') {
    display: flex;
    gap: 2px;
    max-width: 200px;
    #header-search-input {
      width: 180px;
    }
  }
  @include responsive('medium') {
    display: flex;
    gap: 4px;
    max-width: 220px;

    #header-search-input {
      width: 200px;
    }
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

.menulink
{
  @if $theme == "biscuit" {
    color: black;
  } @else {
    color: white;
  }

  @if $theme == "soretro" {
    font-weight: bold;
  }

  &.username {
    display: none;

    @include responsive('medium') {
      display: inline;
    }
  }
}

.header
{
  .header-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  width: 100%;

  @if $theme == "soretro" {
    background: linear-gradient(to bottom, #333, #111);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  } @else if $theme == "dark" {
    background-color: rgba(darken($secondary, 5%), 0.95);
  } @else {
    background: rgba(white, 0.95);
  }

  height: $header-height;
  display: flex;
}

.menu#user-menu {
  @if $theme != "biscuit" {
    background: #2A2A2A;
    border: none;
    box-shadow: 0 1px 2px rgba(black, 0.6);
  }
  min-width: 165px;
  top: $header-height;
  border-radius: 0 0 5px 5px;

  hr {
    @if $theme != "biscuit" {
      border-color: #777;
    }
    margin: 4px 0;
  }

  .menu-item-button {
    @if $theme != "biscuit" {
      color: white;
    }

    &.small {
      font-size: 11px;
    }

    &:hover {
      @if $theme != "biscuit" {
        background: rgba(white, 0.1);
      } @else {
        background: rgba(black, 0.1);
      }
      text-decoration: none;
    }
  }
}

.headers-2023 {
  .menulink {
    margin: 0 4px;
    font-weight: 500;

    &.userlink {
      font-weight: 600;
    }
  }

  .header-logo {
    display: block;
    margin: 0;
    .logo {
      display: block;
    }
  }

  form.header-search {
    display: flex;
  }

  .header-user {
    @if $theme == "soretro" {
      background: linear-gradient(to bottom, #E8E8E8, #D3D3D3);
      .menulink {
        color: black;
      }
    } @else {
      background-color: rgba(lighten($secondary, 1%), 0.9);
    }

    width: 100%;
    height: 25px;

    display: flex;

    .header-user-container {
      @include maxwidths();
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;

      .header-user-links {
        margin-left: auto;
      }

      .header-user-notifications {
        margin-right: auto;
      }
    }
  }
}