.container {
  &.user, &.read {
    margin-top: -5rem;
  }
}

.profile-box {
  display: flex;

  &.centered {
    text-align: center
  }

  h1 {
    margin: 0;
    font-size: 14px;
  }

  .profile-box-pfp {
    width: $pfp-width-profiles;
    margin-right: 10px;

    .pfp {
      width: $pfp-width-profiles;
    }
  }

  .profile-box-info {
    width: 100%;
    line-height: 22px;

    .profile-box-username {
      display: flex;
      gap: 5px;
      align-items: center;

      font-size: 24px;
      font-weight: bold;

      .profile-box-icon {
        width: 20px;
        height: 20px;
        background-size: 20px;
        display: inline;
      }
    }

    .profile-box-handle {
      color: #777;
      font-size: 17px;
    }

    .profile-box-details {
      @if $theme == "biscuit" {
        font-family: $font-serif;
      }
      color: #777;
      font-style: italic;
    }
  }

  .profile-box-follow {
    width: 120px;
    text-align: right;
  }
}

.profile-intro {
  .page-contents {
    margin: auto;
  }
}