@use "sass:color";

.banner {
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 0.5em;
  background-repeat: repeat-x;

  .notification-icon {
    margin-right: 0.66em;
    min-width: 20px;
    min-height: 20px;
    background-size: 20px;
  }

  &.full-screen {
    margin: 0;
    border-radius: 0;
    .notification-text {
      margin: auto;
    }
  }
}

@each $color, $value in $color-map {
  .banner-#{$color} {
    $border-color: color.adjust($value, $lightness: -7.5%);
    @if $color-scheme == "dark" {
      $border-color: color.adjust($value, $lightness: 10%);
    }

    background-color: color.adjust($value, $lightness: 10%);
    background-image: linear-gradient(color.adjust($value, $lightness: 3%),
            color.adjust(color.adjust($value, $lightness: -2%), $hue: 1deg));
    border: 1px solid $border-color;
    color: contrast-color($value, #000, #fff);

    a {
      text-decoration: underline;
      color: contrast-color($value, #000, rgba(white, 0.7));
    }
  }
}