@use "sass:color";

.banner {
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 0.5em;
    gap: 0.75em;

    @if $theme =="default" {
        background-repeat: repeat-x;
    }

    &.full-screen {
        margin: 0;
        border-radius: 0;

        .banner-text {
            margin: auto;
        }
    }
}

@each $color, $value in $color-map {
    .banner-#{$color} {
        $border-color: color.adjust($value, $lightness: -7.5%);

        @if $color-scheme =="dark" {
            $border-color: color.adjust($value, $lightness: 10%);
        }

        color: contrast-color($value, #000, #fff);

        @if $theme =="default" {
            background-color: color.adjust($value, $lightness: 10%);
            background-image: linear-gradient(color.adjust($value, $lightness: 3%),
                    color.adjust(color.adjust($value, $lightness: -2%), $hue: 1deg));
            border: 1px solid $border-color;
        }

        @else {
            background-color: $value;
        }

        a {
            text-decoration: underline;
            color: contrast-color($value, #000, rgba(white, 0.7));
        }
    }
}