.comment {
  margin: 1em 0;
  display: flex;
  gap: 0.8em;

  border-bottom: 1px solid $content-box-border-color;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
  }

  .comment-body {
    flex: 1;

    .comment-author {
      .comment-timestamp {
        color: $text-color;
        opacity: 50%;
        font-size: 0.8em;
      }
    }

    .comment-contents {
      margin-top: 0.25em;

      p {
        margin: 0.5em 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.replies {
  border-left: 1px solid $content-box-border-color;
  padding-left: 1em;
  margin-top: 1em;
  .comment, .reply-form {
    border: none;
    .profile-picture {
      width: 35px;
      height: 35px;
    }
  }
}

.new-comment, .reply-form {
  display: flex;
  gap: 0.8em;

  &:not(:only-child) {
    &:not(:only-of-type) {
      margin-bottom: 0.33em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $content-box-border-color;
    }

    // hide if
    // * this is the only child
    // * if the only other child is .section-header
    &:first-child:nth-last-child(2),
    &:last-child:nth-child(2) {
      &:not(:has(~ :not(.section-header))) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .profile-picture {
    width: 50px;
    height: 50px;
  }

  #comment_button, .submit-reply-button {
    margin-left: auto;
    display: block;
  }
}

.reply-form {
  margin-top: 1em;
}

.reply-button {
  font-size: 0.75rem;
  cursor: pointer;
}

#new-comment-form {
  display: none;
}

#new-comment-form, .new-reply-form {
  flex: 1;
}

#new-comment-logged-out {
  background: $form-bg-color;
  color: $form-text-color;
  border: 1px solid $form-border-color;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}