#hamburger {
  background: $header-background;
  border-right: 1px solid $header-border;

  top: $header-height;
  left: -250px;
  position: fixed;
  z-index: 2000;
  padding: $content-box-padding 0;
  height: calc(100vh - $header-height);

  @include responsive('tiny') {
    width: 200px;
  }
  @include responsive('small') {
    width: 225px;
  }
  @include responsive('medium') {
    width: 250px;
  }

  display: block;
  overflow-y: scroll;

  @include scrollbar();

  transition: left 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  @media (prefers-reduced-motion) {
    transition: none;
  }

  &.active {
    left: 0;
  }

  .hamburger-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .hamburger-header {
      margin-top: 0.8rem;
      display: block;
      padding: 5px 0.9rem;
      color: rgba($header-link-color, 66%);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    .hamburger-link {
      .hamburger-link-profile-picture {
        display: inline-block;
        width: 24px;
        height: 24px;
      }

      a {
        display: flex;
        padding: $menu-item-padding;
        color: rgba($header-link-color, 75%);
        align-items: center;
        gap: 0.4rem;

        &:hover {
          background: $header-link-hover;
          color: $header-link-color;
          text-decoration: none;
        }

        &:active {
          background: $header-link-active;
          color: $header-link-color;
          text-decoration: none;
        }
      }
    }
  }
}