/* New Homepage Shit! */

.grid-homepage {
  position: sticky;
  top: 58px;
}

/*
.homepage-list {

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {

    }
  }

  a {
    display: flex;
    padding: $menu-item-padding;
    color: rgba($header-link-color, 75%);
    align-items: center;
    gap: 0.4rem;

    &:hover {
      background: $header-link-hover;
      color: $header-link-color;
      text-decoration: none;
    }

    &:active {
      background: $header-link-active;
      color: $header-link-color;
      text-decoration: none;
    }
  }
}
 */