.icon {
    /* icons! */
    display: inline-block;
    color: currentColor;
    //color: rebeccapurple;

    &.size-24 {
        width: 24px;
        height: 24px;
        background-size: 24px;
    }

    &.size-32 {
        width: 32px;
        height: 32px;
        background-size: 32px;
    }

    &.star-full {
        background-image: url('/assets/icons.svg#star_full');
    }

    &.star-half {
        background-image: url('/assets/icons.svg#star_half');
    }

    &.star-empty {
        background-image: url('/assets/icons.svg#star_empty');
    }

    &.partner {
        background-image: url('/assets/icons.svg#partner');
    }

    &.staff {
        background-image: url('/assets/icons.svg#staff');
    }

    &.b-danger {
        background-image: url('/assets/icons.svg#banner-danger');
    }

    /* yeah this is kinda fucked */
    &.b-primary {
        background-image: url('/assets/icons.svg#banner-primary');
    }

    &.b-secondary {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#banner-primary');
        }

        @else {
            background-image: url('/assets/icons.svg#banner-secondary');
        }
    }

    &.b-success {
        background-image: url('/assets/icons.svg#banner-success');
    }

    &.b-warning {
        background-image: url('/assets/icons.svg#banner-warning');
    }

    &.search {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#search-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#search-light');
        }
    }

    &.hamburger {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#hamburger-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#hamburger-light');
        }
    }

    &.caret-closed {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#caret-closed-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#caret-closed-light');
        }
    }

    &.caret-open {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#caret-open-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#caret-open-light');
        }
    }

    &.caret-closed-header {
        background-image: url('/assets/icons.svg#caret-closed-dark');
    }

    &.caret-open-header {
        background-image: url('/assets/icons.svg#caret-open-dark');
    }

    &.mail {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#mail-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#mail-light');
        }
    }

    &.bell {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#bell-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#bell-light');
        }
    }

    &.upload {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#upload-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#upload-light');
        }
    }

    &.plus {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#plus-dark');
        }

        @else {
            background-image: url('/assets/icons.svg#plus-light');
        }
    }

    &.homepage-list {
        background-image: url('/assets/icons.svg#homepage-list-dark');

        &.active {
            @if $color-scheme =="dark" {
                background-image: url('/assets/icons.svg#homepage-list-dark');
            }

            @else {
                background-image: url('/assets/icons.svg#homepage-list-light');
            }
        }
    }

    &.homepage-grid {
        background-image: url('/assets/icons.svg#homepage-grid-dark');

        &.active {
            @if $color-scheme =="dark" {
                background-image: url('/assets/icons.svg#homepage-grid-dark');
            }

            @else {
                background-image: url('/assets/icons.svg#homepage-grid-light');
            }
        }
    }

    &.next {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#placeholder');
        }

        @else {
            background-image: url('/assets/icons.svg#next-light');
        }
    }

    &.previous {
        @if $color-scheme =="dark" {
            background-image: url('/assets/icons.svg#placeholder');
        }

        @else {
            background-image: url('/assets/icons.svg#previous-light');
        }
    }

    &.video {
        background-image: url('/assets/icons.svg#video');
    }

    &.image {
        background-image: url('/assets/icons.svg#image');
    }

    &.placeholder {
        background-image: url('/assets/icons.svg#placeholder');
    }
}