@use "sass:color";


/*
TODO
.mobile-navigation-bar-container {
  z-index: 2000;
  border-bottom: none;
  bottom: 0;
  width: 100%;

  @include responsive('tiny') {
    position: fixed;
  }
  @include responsive('small') {
    display: none;
  }
  @include responsive('medium') {
    display: none;
  }
}
*/

.navigation-bar {
  background: $header-background;
  //border-top: 1px solid $header-border;
  border-bottom: 1px solid $header-border;

  display: flex;
  justify-content: center;

  .navigation-bar-button {
    opacity: $header-link-inactive-opacity;
    color: $header-link-color;
    text-decoration: none;
    padding: 0.3em 0.5em;

    display: flex;
    align-items: center;
    gap: 0.2em;

    &:hover {
      opacity: $header-link-active-opacity;
      cursor: pointer;
      @include bar-button-hover;
    }

    &:active, &.active {
      opacity: $header-link-active-opacity;
      background: $header-link-active;
      @include bar-button-active;
    }
  }
}