@use 'sass:math';

.container {
  &.user, &.read {
    margin-top: -5rem;
  }
}

.profile-box {
  display: flex;
  align-items: center;

  &.centered {
    text-align: center
  }

  h1 {
    margin: 0;
    font-size: 14px;
  }

  .profile-box-pfp {
    width: $pfp-width-profiles;
    height: $pfp-width-profiles;
    margin-right: 0.75em;
    &.small {
      width: math.div($pfp-width-profiles, 1.5);
      height: math.div($pfp-width-profiles, 1.5);
      .profile-picture {
        width: math.div($pfp-width-profiles, 1.5);
        height: math.div($pfp-width-profiles, 1.5);
      }
    }

    .profile-picture {
      width: $pfp-width-profiles;
      height: $pfp-width-profiles;
    }
  }

  .profile-box-info {
    width: 100%;
    //line-height: 2.25em;

    .profile-box-username {
      display: flex;
      gap: 0.25em;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
    }

    .profile-box-handle {
      color: gray;
      //font-size: 1.25em;
    }
  }

  .profile-box-follow {
    min-width: 100px;
    text-align: right;
    align-self: start;
  }
}